@using LeaveReportApp.Data.Enum
@* @model IEnumerable<LeaveReportApp.Models.LeaveReport> *@
    @model LeaveReportApp.Models.LeaveTypeReportViewModel

@{
    ViewData["Title"] = "Index";
}
<br />
<h1>Ledighetsrapporter</h1>
<h2>Historik</h2>
<br />

<div class="row mt-2">
    <form asp-controller="LeaveReports" asp-action="Index" method="get" class="col-md-7">
    <p >
            Sök anställd: <input type="text" asp-for="SearchString" placeholder="Förnamn" />

        <select asp-for="ReportLeaveType" asp-items="Model.LeaveTypes" name="type">
            <option value="">Alla ledighetstyper</option>
        </select>

        <select asp-for="ReportMonth" asp-items="Model.Months" name="selectedMonth">
            <option value="">Välj månad</option>
        </select>

        <input type="submit" value="Filtrera" />
    </p>
</form>
<div class="col-md-2"></div>


        <a asp-action="Create" class="btn btn-primary col-md-2 text-center">Rapportera ny ledighet</a>
        <div class="col-md-1"></div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveReports![0].StartDate)
             
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveReports![0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveReports![0].LeaveReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveReports![0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveReports![0].Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveReports) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.LeaveReportId" class="btn btn-outline-primary" data-toggle="tooltip" title="Redigera"><i class="bi bi-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.LeaveReportId" class="btn btn-outline-info" data-toggle="tooltip" title="Information"><i class="bi bi-info-circle"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.LeaveReportId" class="btn btn-outline-danger" data-toggle="tooltip" title="Radera"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>


