@model LeaveReportApp.Models.Employee

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera</h1>

<h3>Är du säker på att du vill ta bort följande person?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roles)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmpId" />
        <input type="submit" value="Radera" class="btn btn-danger" />
    </form>
    <div class="mt-4">
    <a asp-action="Index">Tillbaka till listan</a>
</div>
</div>
